<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <!--/*@thymesVar id="error" type=""*/-->
        <span id="basic-addon0">&nbsp;</span>
        <span style="font-size: 12px;color: red" th:text="${msg}" aria-describedby="basic-addon0"></span>
        <br />
    </div>
    <div>
        <span id="basic-addon1">用户名</span>
        <input id="username" name="username" type="text" placeholder="用户名" aria-describedby="basic-addon1" />

    </div>
    <br />
    <div>
        <span id="basic-addon2">密码</span>
        <input id="password" name="password" type="password" placeholder="密码" aria-describedby="basic-addon2" />
    </div>
    验证码：<input type="text" name="verifyCode" placeholder="请输入验证码"><br>
    <a href="#" style="color: blue" onclick="refreshCode()">换一个</a>
    <img id="verifyCode" src="/getCode" style="margin-left: 16px"><br>
    <br />
    <div class="form-group">
    <a href="/register" style="margin-left: 50px">没有账号？立即注册</a>
    </div>
    <button type="submit" style="width:190px;">登 录</button>

</form>
<script>
    function refreshCode() {
        document.getElementById("verifyCode").setAttribute("src","/getCode");
    }
</script>

</body>
</html>